step_function_code.json
{
  "Comment": "Hashing State Machine for A4",
  "StartAt": "EvaluateChoice",
  "States": {
    "EvaluateChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.action",
          "StringEquals": "sha256",
          "Next": "InvokeSHA256Lambda"
        },
        {
          "Variable": "$.action",
          "StringEquals": "md5",
          "Next": "InvokeMD5Lambda"
        },
        {
          "Variable": "$.action",
          "StringEquals": "bcrypt",
          "Next": "InvokeBcryptLambda"
        }
      ],
      "Default": "End"
    },
    "InvokeSHA256Lambda": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:788520884685:function:nodeSHA256",
      "End": true
    },
    "InvokeMD5Lambda": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:788520884685:function:nodeMD5",
      "End": true
    },
    "InvokeBcryptLambda": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:788520884685:function:nodeBcrypt",
      "End": true
    },
    "End": {
      "Type": "Pass",
      "End": true
    }
  }
}
